 <footer>
        <div class="container">
            <div class="row firstsection">
                <div class="col-md-12 col-lg-2">
                    <div class="footerlogo">
                        <img src="/images/Tm-logo-W.png" alt="Credmanager">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>TMTrip</h4>
                        <ul>
                            <li><a href="/404error.html">About Us</a></li>

                            <li><a href="/comingsoon.html">Support</a></li>
                            <li><a href="/404error.html">Blogs</a></li>

                        </ul>
                    </div>

                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>Group Brands</h4>
                        <ul>
                            <li><a href="https://www.taxmanager.in/tm360/">TaxManager</a></li>
                            <li><a href="http://cfoserve.in/">CFOServe</a></li>
                            <li><a href="https://riseit360.com/">RiseIT360</a></li>
                            <li><a href="https://taxmanager.in/tm360/startup/index">StartupManager</a></li>
                            <li><a href="https://credmanager.in/">CredManager</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="footer_menu_Sec">
                        <h4>Subscribe</h4>
                        <ul>
                            <li><a href="https://credmanager.in/opting/opt-in">OPT-In</a></li>
                            <li><a href="https://credmanager.in/opting/opt-out">OPT-Out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_menu_Sec">
                        <h4>Support</h4>
                        <ul class="support_sec_are">
                            <li>
                                <a href="/Contact">
                                    <span><i class="fa fa-life-ring"></i></span> Need Trip Advice?
                                </a>
                            </li>
                            <li>
                                <a href="tel:+918448325701">
                                    <span><i class="fa fa-phone"></i></span> +91-8448325701
                                </a>
                            </li>
                            <li>
                                <a href="mailto: support@tmtrip.in">
                                    <span><i class="fa fa-envelope"></i></span> support@tmtrip.in
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-footer">
            <div class="container">
                <div class="row secondfooter">
                    <div class="col-md-6 col-lg-2 p-0">
                        <ul>
                            <li><a href="/comingsoon.html">Privacy Policy </a></li>
                            <li><a href="/comingsoon.html">Terms of Use </a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 p-0">
                        <ul>
                            <li><a href="/comingsoon.html">Legal Disclaimer </a></li>
                            <li><a href="/comingsoon.html">Security </a></li>
                            <li><a href="/comingsoon.html">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4 p-0">
                        <div class="flogsection">
                            <div class="build-with">
                                <span><img src="/images/india-flag.svg" alt="india-flag"></span>
                                <span>Built with Love <br>Made in India</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 p-0">
                        <ul class="social-mediased">
                            <li>
                                <h2>Follow us on</h2>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/TMTrip">
                                    <span><i class="fa-brands fa-facebook"></i></span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/tmtripofficial">
                                    <span><i class="fa-brands fa-instagram"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>