  <header>
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="logo">
                    <a href="/">
                        <img src="/images/Tm-logo.png" alt="TM Trip logo">
                    </a>
                </div>

                <!-- Nav Section -->
                <nav>
                    <div class="menusectare">
                        <ul>
                            <li><a href="/flights.html">Book a Flight</a></li>
                            <li><a href="travelloan.html">Travel Loan</a></li>
                            <li><a href="forex.html">Forex Card</a></li>
                            <li><a href="holidaypackages.html">Holiday Packages</a></li>
                        </ul>
                        <div class="supnabar">
                            <h4>Support </h4>
                            <ul>
                                <li>
                                    <a href="mailto: Support@CredManager.co">
                                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                        <div class="texspan">
                                            <h5>eMail </h5>
                                            <p> Support@CredManager.co </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+91-8448325701">
                                        <span><i class="fas fa-phone-alt" aria-hidden="true"></i></span>
                                        <div class="texspan">
                                            <h5>Call Us</h5>
                                            <p>+91-8448325701</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href="https://api.whatsapp.com/send?phone=918448076761&amp;text=Hi there ! Hi I am Looking for Loan Expert Assistance">
                                        <span>
                                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                        </span>
                                        <div class="texspan">
                                            <h5>Chat With Us</h5>
                                            <p>+91 8448076761</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <!-- User Profile-->
                <div class="userco">
                    <a href="/login.html">
                        <span><img src="/images/user.webp" alt="User login"></span>
                    </a>
                </div>

                <!-- Taggle -->
                <div class="nav-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>

            </div>
        </div>
    </header>