<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMTrip - Travel Credit Line + Forex Cards - Initiative by TaxManager</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.svg" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sylesheet.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="/font/google.font.css">

    <!-- Font Awesome (Latest Recommended) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   

</head>


<body>