  <div class="topserv">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="/flights">
                            <span class="iconnav"><img src="/images/book-a-flight-nav.png" alt=""></span>
                            <b>Flights</b>
                        </a>
                    </li>
                    <li>
                        <a href="/travelloan">
                            <span class="iconnav"><img src="/images/travel-loan-nav.png" alt=""></span>
                            <b>Travel Loan</b>
                        </a>
                    </li>
                    <li>
                        <a href="/forex">
                            <span class="iconnav"><img src="/images/forex-card-nav.png" alt=""></span>
                            <b>Forex</b>
                        </a>
                    </li>
                    <li>
                        <a href="/holidaypackages">
                            <span class="iconnav"><img src="/images/holiday-packages-nav.png" alt=""></span>
                            <b>Holiday Package</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>