:root {
    --width: 100%;
    --marauto: 0 auto;
    --zeromargin: 0;
    --zeropadding: 0;
    --disblo: block;
    --disinblo: inline-block;
    --black: #000;
    --lightgery: #181A2A;
    --pcolor: #3B3C4A;
    --Outfit: Outfit;
    --fontwei60: 600;
    --fontwei70: 700;
    --fontwei40: 400;
    --fontsize36: 36px;
    --fontsize20: 20px;
    --fontsize24: 24px;
    --fontsize16: 16px;
    --fontsize14: 14px;
    --fontfamilyRoboto: Roboto;
    --fontfamilyWorkSans: Work Sans;
    --fontfamilyOutfit: Outfit;
    --fontfamilyPoppins: Poppins;
    --dark: #373349;
    --gap: 10px;
    --widthgallery: 240px;
    --height: var(--width);
    --minbnt: url('/images/downarrow.webp');
    --plusbtn: url('/images/uparrow.webp');
    --rihtarrow: "\f178";
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    width: calc(100% - 270px);
}

img {
    width: var(--width);
    margin: var(--marauto);
    padding: var(--zeropadding);
    display: var(--disblo);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: var(--fontwei60);
    color: var(--black);
}

h1 {
    font-family: var(--fontfamilyPoppins);
    font-size: var(--fontsize36);
    line-height: 40px;
    color: rgb(24, 26, 42);
}

h2 {
    font-family: var(--fontfamilyPoppins);
    font-size: var(--fontsize36);
    font-weight: var(--fontwei70);
    line-height: 56px;
}

h3 {
    color: rgb(1, 9, 34);
    font-family: var(--fontfamilyPoppins);
    font-size: var(--fontsize20);
    font-style: normal;
    font-weight: var(--fontwei60);
    line-height: 32px;
}

h6 {
    font-family: var(--fontfamilyPoppins);
    font-size: var(--fontsize24);
    line-height: 28px;
}

p {
    color: rgb(59, 60, 74);
    font-family: var(--fontfamilyPoppins);
    font-size: var(--fontsize16);
    font-weight: var(--fontwei40);
    line-height: 27.5px;
}

.commanbanner h3.marqtext {
    top: 30%;
}

.commanbanner .slitexar {
    display: flex;
    align-items: center;
    padding: 0px;
}

.combansec h3.marqtext {
    font-size: 80px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-weight: 800;
    top: 55%;
    opacity: 0.1;
    animation: 10s linear 0s infinite normal none running colorSlide;
}

@-webkit-keyframes colorSlide {
    0% {
        color: rgb(21, 42, 104);
        transform: translateX(0px);
    }

    25% {
        color: royalblue;
    }

    50% {
        color: seagreen;
        transform: translateX(150px);
    }

    75% {
        color: tomato;
    }

    100% {
        color: rgb(21, 42, 104);
        transform: translateX(0px);
    }
}

@keyframes colorSlide {
    0% {
        color: rgb(132, 148, 197);
        transform: translateX(0px);
    }

    25% {}

    50% {
        color: rgb(225, 240, 231);
        transform: translateX(150px);
    }

    75% {
        color: rgb(243, 192, 183);
    }

    100% {
        color: rgb(231, 235, 248);
        transform: translateX(0px);
    }
}

.commanbanner h3.marqtext {
    top: 30%;
}

.commanbanner .slitexar h3 {
    font-size: 60px;
    z-index: 1;
}


/*-- popup --*/
.custom-model-main {
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.model-open {
    display: inline-block;
}

.custom-model-wrap {
    position: absolute;
    top: 50px;
    background: rgb(255, 255, 255);
    width: calc(50% - 100px);
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 3px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(233, 233, 233);
    line-height: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.pop-up-content-wrap {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 30px;
}

@media (max-width: 767px) {
    .custom-model-wrap {
        top: 20px;
        width: calc(100% - 30px);
        border-radius: 10px;
        height: 90vh;
        padding: 0px 0px 30px;
    }
}

/*-- light box Gallery --*/


/* Magnific Popup CSS */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #000000;
    opacity: 0.95;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #CCC;
}

.mfp-preloader a:hover {
    color: #FFF;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 0;
    text-decoration: none;
    opacity: 0.65;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    font-weight: 800;
    text-align: center;
    opacity: 1;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}


/* Main image in popup */

img.mfp-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}


/* The shadow behind the image */

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}

.mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

    /**
    * Remove all paddings around the image on small screen
    */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}