
<%- include('../partials/header.ejs') %>
<%- include('../partials/topservice.ejs') %>
 
<div>
       <!-- Coming Soon Section -->
    <div class="comingsoonsec">
        <div class="waviy">
            <span style="--i:1">c</span>
            <span style="--i:2">o</span>
            <span style="--i:3">m</span>
            <span style="--i:4">i</span>
            <span style="--i:5">n</span>
            <span style="--i:6">g</span>
            <span style="--i:7">s</span>
            <span style="--i:8">o</span>
            <span style="--i:9">o</span>
            <span style="--i:10">n</span>
        </div>
    </div>
</div>





<%- include('../partials/footer.ejs') %>