
<%- include('../partials/header.ejs') %>
<%- include('../partials/topservice.ejs') %>


<div>
       <!--banner slider-->
    <div class="banner-slider">
        <div class="slid-img">
            <img src="/images/FOREX-CARD-back.png" alt="Celebrate Tradition with Elegance">
        </div>
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slid-text">
                            <h1><span>FOREX CARD</span></h1>
                            <ul>
                                <li>Instantly reload your card anytime, anywhere</li>
                                <li>36 Lakhs complimentary insurance cover* to safeguard you</li>
                                <li>Load upto 22 currencies in one card</li>
                            </ul>
                            <a href="#" class="popupbtnsec">APPLY NOW ></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="slidertext-img">
                            <img src="/images/FOREX-CARD-girl.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Forex Details-->
    <div class="forex-detail comonmarpad">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="forex-form">
                        <form>
                            <div class="form-group">
                                <label>DELIVER AT</label>
                                <input type="text" id="deliverAtInput" class="form-control" placeholder="Enter Pincode">
                                <!-- Result Box -->
                                <div class="shownow">
                                    <b class="tilesec " id="showCity"></b>
                                    <b class="suntile" id="showPin"></b>
                                    <!-- Second Input Auto-fill -->
                                    <input type="text" id="secondInput" class="form-control hiddensecondinput">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>CURRENCY</label>
                                <select class="form-control select2" id="currencySelect">
                                    <option value="" selected>Select Currency</option>
                                    <!-- POPULAR CURRENCIES -->
                                    <optgroup label="POPULAR CURRENCIES">
                                        <option value="USD" data-name="US Dollar">US Dollar — USA, Maldives +
                                            170
                                            countries</option>
                                        <option value="AED" data-name="UAE Dirham">UAE Dirham — United Arab Emirates
                                        </option>
                                        <option value="THB" data-name="Thai Baht">Thai Baht — Thailand</option>
                                        <option value="EUR" data-name="Euro">Euro — France, Germany + 45 countries
                                        </option>
                                        <option value="SGD" data-name="Singapore Dollar">Singapore Dollar — Singapore
                                        </option>
                                    </optgroup>

                                    <!-- ALL CURRENCIES -->
                                    <optgroup label="ALL CURRENCIES">
                                        <option value="GBP" data-name="British Pound">British Pound — United Kingdom
                                        </option>
                                        <option value="HKD" data-name="Hong Kong Dollar">Hong Kong Dollar — Hong Kong
                                        </option>
                                        <option value="CHF" data-name="Swiss Franc">Swiss Franc — Switzerland</option>
                                        <option value="SAR" data-name="Saudi Riyal">Saudi Arabia</option>
                                        <option value="CAD" data-name="Canadian Dollar">Canadian Dollar — Canada
                                        </option>
                                        <option value="ZAR" data-name="South African Rand">South African Rand — South
                                            Africa</option>
                                        <option value="AUD" data-name="Australian Dollar">Australian Dollar — Australia
                                        </option>
                                        <option value="JPY" data-name="Japanese Yen">Japanese Yen — Japan</option>
                                        <option value="SEK" data-name="Swedish Krona">Swedish Krona — Sweden</option>
                                        <option value="NZD" data-name="New Zealand Dollar">New Zealand Dollar — New
                                            Zealand</option>
                                        <option value="MYR" data-name="Malaysian Ringgit">Malaysian Ringgit — Malaysia
                                        </option>
                                        <option value="CNY" data-name="Chinese Yuan">Chinese Yuan — China</option>
                                        <option value="OMR" data-name="Omani Rial">Omani Rial — Oman</option>
                                        <option value="QAR" data-name="Qatari Rial">Qatari Rial — Qatar</option>
                                        <option value="BHD" data-name="Bahraini Dinar">Bahraini Dinar — Bahrain</option>
                                        <option value="KWD" data-name="Kuwaiti Dinar">Kuwaiti Dinar — Kuwait</option>
                                        <option value="NOK" data-name="Norwegian Krone">Norwegian Krone — Norway
                                        </option>
                                        <option value="DKK" data-name="Danish Krone">Danish Krone — Denmark</option>
                                        <option value="IDR" data-name="Indonesian Rupiah">Indonesian Rupiah — Indonesia
                                        </option>
                                        <option value="LKR" data-name="Sri Lankan Rupee">Sri Lankan Rupee — Sri Lanka
                                        </option>
                                        <option value="KRW" data-name="Korean Won">Korean Won — South Korea</option>
                                        <option value="RUB" data-name="Russian Ruble">Russian Ruble — Russia</option>
                                        <option value="MVR" data-name="Maldivian Rufiyaa">Maldivian Rufiyaa — Maldives
                                        </option>
                                        <option value="PHP" data-name="Philippine Peso">Philippine Peso — Philippines
                                        </option>
                                        <option value="VND" data-name="Vietnam Dong">Vietnam Dong — Vietnam</option>
                                        <option value="MUR" data-name="Mauritius Rupee">Mauritius Rupee — Mauritius
                                        </option>
                                        <option value="BDT" data-name="Bangladesh Taka">Bangladesh Taka — Bangladesh
                                        </option>
                                        <option value="TRY" data-name="Turkish Lira">Turkish Lira — Turkey</option>
                                        <option value="BRL" data-name="Brazilian Real">Brazilian Real — Brazil</option>
                                        <option value="KES" data-name="Kenyan Shilling">Kenyan Shilling — Kenya</option>
                                        <option value="EGP" data-name="Egyptian Pound">Egyptian Pound — Egypt</option>
                                        <option value="ILS" data-name="Israeli Shekel">Israeli Shekel — Israel</option>
                                        <option value="PLN" data-name="Polish Zloty">Polish Zloty — Poland</option>
                                        <option value="MOP" data-name="Macau Pataca">Macau Pataca — Macau</option>
                                        <option value="CZK" data-name="Czech Koruna">Czech Koruna — Czech Republic
                                        </option>
                                        <option value="GEL" data-name="Georgian Lari">Georgian Lari — Georgia</option>
                                        <option value="ISK" data-name="Icelandic Krona">Icelandic Krona — Iceland
                                        </option>
                                        <option value="AZN" data-name="Azerbaijani Manat">Azerbaijani Manat — Azerbaijan
                                        </option>
                                    </optgroup>

                                </select>
                                <div class="shownow">
                                    <b class="tilesec " id="currencyType">Euro</b>
                                    <b class="suntile" id="currencyInput">EUR</b>
                                    <!-- Second Input Auto-fill -->
                                    <input type="text" id="curSelect" class="form-control hiddensecondinput">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>CARD/CURRENCY</label>
                                <select class="form-control dropdowncustume select2" id="paymentSelect">
                                    <!-- Option 1 -->
                                    <option value="card" data-image="/images/card.png" data-title="Multi Currency Card"
                                        data-desc="Lifetime Free, Zero Forex Markup">
                                        Multi Currency Card
                                    </option>
                                    <!-- Option 2 -->
                                    <option value="coin" data-image="/images/coin.png" data-title="FX Coin Wallet"
                                        data-desc="Lifetime Free, Zero Forex Markup">
                                        FX Coin Wallet
                                    </option>
                                </select>
                                <div class="shownow cardselectbox">
                                    <b class="tilesec" id="iconelogo"><img src="/images/card.png" width="30"></b>
                                    <b class="suntile" id="titiel">Multi Currency Card</b>
                                    <input type="text" id="curSelect" class="form-control hiddensecondinput">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>FOREX AMOUNT</label>
                                <input type="number" class="form-control" id="currencyInputForex"
                                    placeholder="Enter Amount">
                                <!-- Result Box -->
                                <div class="shownow">
                                    <b class="suntile" id="currencylabelForex">EUR</b>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>INR AMOUNT</label>
                                <input type="number" class="form-control" id="currencyInputConvert"
                                    placeholder="Enter Amount">
                                <!-- Result Box -->
                                <div class="shownow">
                                    <b class="suntile" id="currencyInputcanvert">INR</b>
                                </div>
                            </div>
                        </form>
                        <button type="submit" class="btn">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Services-->
    <div class="services comonmarpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/plan_flight.png" alt="Holiday Packages icon"></span>
                            <h3>Book a Flight</h3>
                        </div>
                        <p>Book. Fly Smarter. Fly with TMTrip and Smile. Your Premium Path to the World — TMTrip
                            Flights.</p>
                        <a href="/flights">Book Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Travel-Loan.png" alt="Travel Loan icon"></span>
                            <h3>Travel Loan</h3>
                        </div>
                        <p>Travel credit line up to ₹5 lac makes international/expensive travel more accessible for
                            middle-income.</p>
                        <a href="/travelloan">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Forex-Card.png" alt="Forex Card icon"></span>
                            <h3>Forex Card</h3>
                        </div>
                        <p>“Multi-Currency Freedom. Minimal Forex Fees. Travel Global. Spend Local — At Lowest Cost.</p>
                        <a href="/forex">Get One Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Holiday-Packages.png" alt="Holiday Packages icon"></span>
                            <h3>Holiday Packages</h3>
                        </div>
                        <p>Because your dreams deserve a passport too. Let your family see the world you always dreamed
                            of.</p>
                        <a href="/holidaypackages">Design Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<%- include('../partials/footer.ejs') %>