
<%- include('../partials/header.ejs') %>

<!-- Top services -->
    <div class="topserv">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="/flights.html">
                            <span class="iconnav"><img src="/images/book-a-flight-nav.png" alt=""></span>
                            <b>Flights</b>
                        </a>
                    </li>
                    <li>
                        <a href="/travelloan.html">
                            <span class="iconnav"><img src="/images/travel-loan-nav.png" alt=""></span>
                              <b>Travel Loan</b>
                        </a>
                    </li>
                    <li>
                        <a href="/forex.html">
                            <span class="iconnav"><img src="/images/forex-card-nav.png" alt=""></span>
                              <b>Forex</b>
                        </a>
                    </li>
                    <li>
                        <a href="/holidaypackages.html">
                            <span class="iconnav"><img src="/images/holiday-packages-nav.png" alt=""></span>
                              <b>Holiday Package</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--banner slider-->
    <div class="banner-slider">
        <div class="slid-img">
            <img src="/images/banner-back.png" alt="Celebrate Tradition with Elegance">
        </div>
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slid-text">
                            <h1>TRAVEL <span>CREDIT</span> LINE</h1>
                            <h2>& FOREX Cards</h2>
                            <p>Affordability & Accessibility: The travel credit line up to ₹5 lac makes
                                international/expensive travel more accessible for middle-income users by breaking
                                down cost into EMIs.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="slidertext-img homecontsec">
                            <img src="/images/banner-phone.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Services-->
    <div class="services comonmarpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/plan_flight.png" alt="Holiday Packages icon"></span>
                            <h3>Book a Flight</h3>
                        </div>
                        <p>Book. Fly Smarter. Fly with TMTrip and Smile. Your Premium Path to the World — TMTrip
                            Flights.</p>
                     <a href="/flights.html">Book Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Travel-Loan.png" alt="Travel Loan icon"></span>
                            <h3>Travel Loan</h3>
                        </div>
                        <p>Travel credit line up to ₹5 lac makes international/expensive travel more accessible for
                            middle-income.</p>
                       <a href="/travelloan.html">Apply Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Forex-Card.png" alt="Forex Card icon"></span>
                            <h3>Forex Card</h3>
                        </div>
                        <p>“Multi-Currency Freedom. Minimal Forex Fees. Travel Global. Spend Local — At Lowest Cost.</p>
                       <a href="/forex.html">Get One Now</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="services-box">
                        <div class="txtare">
                            <span><img src="/images/Holiday-Packages.png" alt="Holiday Packages icon"></span>
                            <h3>Holiday Packages</h3>
                        </div>
                        <p>Because your dreams deserve a passport too. Let your family see the world you always dreamed
                            of.</p>
                        <a href="/holidaypackages.html">Design Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include('../partials/footer.ejs') %>